.heat_map {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hm_plot {
  flex: 1;            /* take available height */
  min-height: 0;      /* allow shrinking inside grid/flex */
  display: flex;
}

.hm_plotly {
  width: 100%;
  height: 100%;
  display: flex;
}