#root {
  text-align: center;
}

body {
  padding: 0 !important;
  margin: 0 !important;
}

.main_wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: top;
  align-items: center;
}

.main_content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;
  color: white;
}